<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ENS2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ENS2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <ENS2.Properties.Settings>
            <setting name="Log_LogfileFolder" serializeAs="String">
                <value>Log</value>
            </setting>
            <setting name="Log_PagesFolder" serializeAs="String">
                <value>Pages</value>
            </setting>
            <setting name="Log_LogfileExtention" serializeAs="String">
                <value>.log</value>
            </setting>
            <setting name="Log_PagesExtention" serializeAs="String">
                <value>.page</value>
            </setting>
        </ENS2.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ENS2.Properties.Settings>
            <setting name="User_Name" serializeAs="String">
                <value>nickname</value>
            </setting>
            <setting name="User_Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="Engine_Domains" serializeAs="String">
                <value>game.en.cx</value>
            </setting>
            <setting name="User_Id" serializeAs="String">
                <value />
            </setting>
            <setting name="User_Team" serializeAs="String">
                <value />
            </setting>
            <setting name="User_TeamId" serializeAs="String">
                <value />
            </setting>
            <setting name="User_Domain" serializeAs="String">
                <value>game.en.cx</value>
            </setting>
        </ENS2.Properties.Settings>
    </userSettings>
</configuration>
